[submodule "Maximilian-Schwarzmüller-Course/Maximilian-Schwarzmüller-Course"]
	path = Maximilian-Schwarzmüller-Course/Maximilian-Schwarzmüller-Course
	url = https://github.com/PacktPublishing/React---The-Complete-Guide-includes-Hooks-React-Router-and-Redux-Second-Edition.git
